Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [6]:
#(i) string
a = "Bappy"
#(ii) list
b = [5,6,7, "Bappy" , True , 5+6j]
#(iii) float
c = 3.46
#(iv) tuple
d = ("cold",60,63,"ball")

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [10]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['DS' , 'ML' , 'Python']
var4 = 1.
print (type(var1))
print (type(var2))
print (type(var3))
print (type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [11]:
print("Division operator", 30/5) # '/' is a division operator which is give float value upon division.
print("modular operator", 30%7) # '%' is a modular operator which return the reminder after divition.
print("Floor operator", 9//2) # '//' is a floor operator which is return int value after division.
print("Power operator", 2**3) # '** is a power operator which return exponentioal value.

Division operator 6.0
modular operator 2
Floor operator 4
Power operator 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [16]:
list1 = [4,56,5.6,"Bappy", True, 5+5j,12,'Data',77,'LOVE']
for i in list1 :
  print(i, "----------------Which is a data type of ", type(i))

4 ----------------Which is a data type of  <class 'int'>
56 ----------------Which is a data type of  <class 'int'>
5.6 ----------------Which is a data type of  <class 'float'>
Bappy ----------------Which is a data type of  <class 'str'>
True ----------------Which is a data type of  <class 'bool'>
(5+5j) ----------------Which is a data type of  <class 'complex'>
12 ----------------Which is a data type of  <class 'int'>
Data ----------------Which is a data type of  <class 'str'>
77 ----------------Which is a data type of  <class 'int'>
LOVE ----------------Which is a data type of  <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [23]:
A = int(input("Enter the first number "))
B = int(input("Enter the second number "))
i = 0 # for counting
while A%B == 0 :
  A = A/B
  i += 1
if i > 0 :
  print("A is purely divisible by number B ", i, "times divisible")
else :
  print("A is not purly divisible by number B")

Enter the first number 45
Enter the second number 69
A is not purly divisible by number B

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [22]:
list_int = range(1,26)
for i in list_int :
  if i%3 == 0 :
    print(i, "is divisible by 3")
  else :
    print(i, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

**Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.**

In [25]:
'''Mutable object can be modify or change after their creation where Imutable object can`t be modify or change after creation.
ex- List is a example of mutable object and str is a example of imutable object'''

a = [4,6,8,12,10.6,30] # list of int.
b = "BAPPY" # is a str.
#as example we are going to change the vale of index '3' from '12' to '56'. Because list is a mutable object.
a[2] = 56
print("modify a", a)

#as example we are going to change index '2' from 'P' to 'K', it showed error because str is a imutable object.
b[2] = 'K'
print("modify b", b)

modify a [4, 6, 56, 12, 10.6, 30]

TypeError: ignored